body{background-color: black;}

div{color: white; font-family: "Libre Baskerville", serif;
width: 50%; margin-left: 25%; margin-top: 25px;
}
h1{
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}
img{ border: 5px solid white; height: 300px;width: 100%;}